* {
  margin: 0
}
body {
  background-color: rgb(255, 255, 255);
}

#cabeceraweb { 
  color: white;
  background-color: black;
}
#navegacionprincipal {
  color: green;
  background-color: black;
  float: left;
  margin-top: 40px;
  height: 250mm;  
  width: 23mm;
  line-height: 75px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
